/*POPUP*/

.popup {
   position: fixed;
   z-index: 101;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;
   &:target {
      opacity: 1;
      visibility: visible;
      .popup__content {
         transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
         opacity: 1;
      }
   }
   &__area {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
   }
   &__body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 10px;
   }
   &__content {
      background-color: rgb(46, 39, 39);
      color: rgb(245, 245, 245);
      max-width: 950px;
      padding: 30px;
      position: relative;
      transition: all 0.8s ease 0s;
      opacity: 0;
      transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
   }
   &__close {
      border-radius: 25px;
      padding: 5px 10px;
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px;
      color: #da7108;
      transition: background-color 0.3s ease 0s;
      &:hover {
         padding: 5px 10px;
         background-color: #c06f1e;
         border-radius: 25px;
         color: rgb(255, 255, 255);
      }
   }
   &__text {
      p {
         margin: 0px 0px 15px 0px;
         a {
            color: #FFFF;
         }
      }
      margin: 25px 0px 0px 0px;
      font-size: 18px;
      line-height: 30px;
      text-indent: 20px;
   }
   span {
      padding: 5px 10px;
      font-weight: bold;
      border-radius: 25px;
      color: #da7108;
      &:hover {
         padding: 5px 10px;
         background-color: #c06f1e;
         border-radius: 25px;
         color: rgb(255, 255, 255);
      }
   }
}

//! bank
.bank .popup__text p span:hover {
   display: none;
}

// ! help
.join,
.help .popup__text {
   & p:first-letter {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #c06f1e;
   }
   p span {  //! FIX!!!
		font-size: 12px;
	}
}

.dev {
   .popup_title {
      margin: 30px 0px 0px 0px;
      h3 {
         font-style: 24px;
      }
   }
}