//!<Миксины>
@mixin anim ($time, $delay) {-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;-moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;-ms-transitionall: $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;-o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;}
@mixin rotate($deg) {-webkit-transform: rotate($deg);-moz-transform: rotate($deg);-ms-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num) {-webkit-transform: scale($num);-moz-transform: scale($num);-ms-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num) {-webkit-transform: skew($num);-moz-transform: skew($num);-ms-transform: skew($num);-o-transform: skew($num);transform: skew($num);}
@mixin cnt($h) {display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x, $y, $z) {transform: translate3d($x, $y, $z);}
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val) {-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
@mixin flex($dis:flex, $jc:center, $ai:center) {display: $dis;justify-content: $jc;align-items: $ai;}

//! ширина макета
$maw: 1140; //todo

//!Шрифт
//? Заданый размер шрифта - $pcSize а желательный размер на мобилке $mobSize
$maxWidth: $maw; //? ширина макета
@mixin resp-font($pcSize, $mobSize) {
   $addSize: $pcSize - $mobSize;
   $addMobSize: $addSize + ($addSize * 0.7);
   @media (max-width: 767px) {
      font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
   }
   @media (min-width: 766.98px) {
      font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
   }
}

//!Сетка
[class*="container"] {max-width: $maw+px; margin: 0px auto;}