@import "fonts.scss";
@import "reset.scss";
@import "utilits.scss";
//++++++++++++++++++
body {
   font-family: $fontfamily;
   font-style: normal;
   font-size: 14px;
   font-weight: 400;
   color: black;
}

.wrapper {
   min-height: 100%;
   max-width: $maw+px;
   // overflow: hidden;  //todo!
   display: flex;
   flex-direction: column;
   margin: 0px auto;
}

//Header
@import "header.scss";
.main {
   flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: 'Cabin', sans-serif;
   font-weight: bold;
   text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
   letter-spacing: 0.5px;
   color: #5bb41c;
}

h1 {
   line-height: 42px;
   margin: 0px 0px 0px 15px;
   font-size: 36px;
}

h2 {
   font-size: 32px;
}

h3 {
   color: #5bb41c;
   font-size: 18px;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

// h4 {}
//? h5 {} in scss/_header.scss
//! Jambotron
.vos-dol-town {
   margin: 150px 0px 0px 0px;
   width: 100%;
   padding: 15px;
   min-height: 403px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   background: url('../img/back/background.jpg') 0 0/100% auto no-repeat;
   .vos-dol-town__content {
      display: flex;
      align-items: center;
      img {
         position: relative;
         width: 81px;
         height: 98px;
         top: 60px;
         left: 620px;
      }
   }
}

//! CONTACTS
.contacts {
   &__container {
      padding: 25px 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
         width: 16%;
         height: auto;
      }
   }
   h2 {
      margin: 25px 0px 0px 0px;
      text-align: center;
      &:before {
         display: block;
         content: " ";
         margin-top: -170px;
         height: 170px;
         visibility: hidden;
         pointer-events: none;
      }
   }
   &__body {
      margin: 0px 20px 0px 0px;
   }
   &__item {
      margin: 10px 0px 0px 0px;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      span {
         margin: 0px 10px 0px 0px;
         color: rgb(2, 91, 255);
         text-shadow: 1px 0 1px rgb(23, 142, 132), 0 1px 1px rgb(23, 142, 132), -1px 0 1px rgb(23, 142, 132), 0 -1px 1px rgb(23, 142, 132);
      }
   }
}

//! INFORMATION
.information {
   &__box {
		padding: 15px 0px 0px 0px;
      background: linear-gradient(to bottom, #84ded5a0, #051945);
   }
   margin: 50px 0px 0px 0px;
   img {
      width: 26%;
      height: auto;
      border-radius: 15px;
   }
   h2 {
      margin: 25px 0px 0px 0px;
      text-align: center;
      &:before {
         display: block;
         content: " ";
         margin-top: -170px;
         height: 170px;
         visibility: hidden;
         pointer-events: none;
      }
   }
   &__body {
      min-height: 400px;
      padding: 35px 15px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
   }
   &__list {
      width: 40%;
      position: relative;
      z-index: 10;
   }
   &__item {
      height: 30px;
      margin: 15px 0px 0px 0px;
   }
   &__link {
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #000;
      transition: background-color 0.3s ease 0s;
      h3:hover {
         color: #ffc400;
         font-size: 18px;
      }
   }
}

//! PHOTO & VIDEO

.events {
   margin: 25px 0px 0px 0px;
   display: flex;
   width: 100%;
   min-height: 300px;
   h2:before {
      display: block;
      content: " ";
      margin-top: -170px;
      height: 170px;
      visibility: hidden;
      pointer-events: none;
   }
}

.photo {
   padding: 15px;
   width: 50%;
}

.video {
   padding: 15px;
   width: 50%;
}

@import "chat.scss";
@import "popup.scss";
//FOOTER 
@import "footer.scss";
@import "responsive.scss";